.container{
    
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    text-align: center;
    background-color: #4ef037;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;        transition-property: all;

    border-style: solid;
    border-radius: 22px;
    border-color: #3e4a61 ;  
    border-width: 2px;
   
   transition: all 0.8s ease-in;
}

.container:hover{
    background:#128494;
    color: #4ef037;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    border: 1px solid #888;
    
    transition-timing-function: linear;
    cursor: default;
    
    transform: scale(1.1) ;
    cursor: pointer;
    
}
.boton{
    
    width: 30px;
    height: 30px;
    float: right;;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 8px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    background-color: #ecfeff;
    box-shadow: #d9dad7;
    color: #128494;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Agrega un contorno de luz */
    transition: box-shadow 0.9s;
}
.boton:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    cursor:pointer;
    transition: .5s;
    background: #00b7c2;
    color: #4ef037;
    
}




.divboton{
    position: absolute;
    
   
}

.imagen{
    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}


    
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.nombre{
    font-family: 'Creepster', cursive;
    left: 4px;
    border-radius: 5px;
    bottom: 40px;
    position: absolute;
    padding: 4px 8px;
    text-align: left;
    background-color: rgba(78, 240, 55, 0.4);
    color: #ecfeff;
    
    font-size: 29px;

  
}

.datos{
    font-family: 'Creepster', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #ecfeff;
   
}

.datos p {
    margin: 4px 33px 11px 15px; 
}
.id{
    color:#ecfeff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    margin-left: 5px;
}
