.container{
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 33px;
    max-width: 1200px; /* establece un ancho máximo para el contenedor */
    margin: 50px auto; /* centra el contenedor horizontalmente */
    margin-bottom: 1px;
    
    
}